= partial "layouts/partial/header"
= partial "layouts/partial/nav-top"
.nav_content_unhide.visible-desktop
.container
    %article
        %h1
            = current_page.data.title
        = yield
= partial "layouts/partial/footer"
