= partial "layouts/partial/header"
= partial "layouts/partial/nav-top"
.container
    .row
        %aside.span4.hidden-phone
            = partial "blog/list_posts"
        .span8
            = yield
= partial "layouts/partial/footer"

